:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glory {
  font-family: "Glory", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
*/

body {
  font-family: Glory;
  margin: 0;
  background: #9C0000;
  background: radial-gradient(circle,rgba(156, 0, 0, 1) 0%, rgba(54, 0, 0, 1) 63%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  margin: auto;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.nav-button button, .jackpot-button {
  font-weight: 600;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  color: white;
  border: 4px solid transparent;
  border-radius: 50px;
  background:
    linear-gradient(#43D400, #154300) padding-box,
    linear-gradient(135deg, #f6e27a, #e6b422, #b8860b, #fff4c2) border-box;
}
.nav-button button:hover {
  background:
    linear-gradient(#D50000, #4A0000) padding-box,
    linear-gradient(135deg, #f6e27a, #e6b422, #b8860b, #fff4c2) border-box;
}

.nav-button {
  gap: 15px;

}

.spinbutton {
  color: #f6e27a;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 2px 2px 4px black;
  border: 4px solid transparent;
  border-radius: 50px;
  background:
    linear-gradient(#43D400, #154300) padding-box,
    linear-gradient(135deg, #f6e27a, #e6b422, #b8860b, #fff4c2) border-box;
}

.spinbutton:hover {
  background:
    linear-gradient(#D50000, #4A0000) padding-box,
    linear-gradient(135deg, #f6e27a, #e6b422, #b8860b, #fff4c2) border-box;
}

.logo-button {
  font-weight: 900;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  border: 8px solid transparent;
  border-radius: 50px;
  background:
    linear-gradient(#002D03, #002D03) padding-box,
    linear-gradient(135deg, #f6e27a, #e6b422, #b8860b, #fff4c2) border-box;
}

h2 {
  font-size: 30px;
  padding: 40px 0px 10px 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
/*
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
*/
}